body, p, span {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


.header-money{
  color: #3fc8c1;
  font-family: 'Montserrat', sans-serif;
}
